body{
margin: 0;
padding: 0;
/*background-color:#333366;*/
}
.studentsList{
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;
	list-style-type: none;
  margin-left: 30px;
  border: 1px solid red;
  margin-top: 10px;
	}
.delete-btn:hover,.update-btn:hover{
		cursor: pointer;
		color: black;
}
.update-btn{
	padding: 6px;
	width: 80px;
	height: 40px;
	background-color: blue;
	color: white;
	text-align: center;
  font-size: 18px;
	border-radius: 15px;
}
.delete-btn{
	padding: 6px;
	width: 80px;
	height: 40px;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 18px;
	border-radius: 15px;
	margin-top: 10px;
}
.heading{
	text-align: center;
	background-color:#3399cc;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 20px;
	color: white;
	/*box-shadow: 1px 0px 10px 4px rgba(22, 22, 23, 0.38);*/
	text-shadow: -1px 1px 3px black;
}
.addForm-head{
	text-align: center;
	padding: 10px;
	margin: 0;
	color: #3399cc;
	text-shadow: -1px 1px 3px black;
}
.arrow{
	background-color: #3399cc;
	width: 100%;
	height: auto;
}
.add-form{
	display: none;
  width: 100%;
  height: auto;
  max-width: 500px;
  background-color:black;
  padding: 20px;
  border: 1px solid white;
  margin: 0 auto;
}
*{
  box-sizing: border-box;
}
/*input-fields*/
input{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}
label{
  font-size: 18px;
  color: white;
}
/*submitButton*/
.submit-student{
  padding: 10px;
  width: 100%;
  background-color:#3399cc;
  cursor: pointer;
  -webkit-border-radius:5px;
  border: none;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.submitBtn:hover{
  background-color:#ff8533;
}
.edit-form{
	width: 100%;
	height: auto;
	max-width: 500px;
	background-color:black;
	padding: 20px;
	border: 1px solid white;
	margin: 0 auto;
}
.save-student{
	padding: 10px;
	width: 100%;
	background-color:rgba(255, 117, 26, 0.82);
	cursor: pointer;
	-webkit-border-radius:5px;
	border: none;
	font-size: 15px;
	margin: 0 auto;
	text-align: center;
	color: white;
}
h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
h4,h5,h6{
	font-size: 18px;
}
