body{
margin: 0;
padding: 0;
/*background-color:#333366;*/
font-family: 'Droid Sans', sans-serif;
}
header{
	box-shadow: -1px 1px 20px 1px black;
}
.studentsList{
	margin: 0;
	padding: 0;
}
li{
	margin:35px;
	padding:20px;
	list-style-type: none;
  border: 1px solid  #abafab;
	max-width: 300px;
	float: left;
	box-shadow: 10px 9px 16px 5px rgba(0, 0, 0, 0.24);
	background-color: rgba(11, 159, 230, 0.52);
	text-shadow: 1px 1px 5px rgba(18, 53, 224, 0.43);
}
.update-btn{
	padding: 10px;
	width: 80px;
	height: 40px;
	background-color: rgba(42, 42, 212, 0.85);
	color: white;
	text-align: center;
  font-size: 18px;
	border-radius: 15px;
	margin:0 10px;
}
.delete-btn{
	padding: 10px;
	width: 80px;
	height: 40px;
	background-color: rgba(236, 12, 12, 0.82);
	color: white;
	text-align: center;
	font-size: 18px;
	border-radius: 15px;
	margin: 0 25px;
}
.delete-btn:hover{
	cursor: pointer;
	background-color: rgba(236, 12, 12, 0.56);
}
.update-btn:hover{
	cursor: pointer;
	background-color:rgba(42, 42, 212, 0.57);
}
.heading{
	text-align: center;
	background-color:#3399cc;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 20px;
	color: white;
	/*box-shadow: 1px 0px 10px 4px rgba(22, 22, 23, 0.38);*/
	text-shadow: -1px 1px 3px black;
}
.addForm-head{
	text-align: center;
	padding: 10px;
	margin: 0;
	color: #3399cc;
	text-shadow: -1px 1px 3px black;
}
.arrow{
	background-color: #3399cc;
	width: 100%;
	height: auto;
}
.arrow:hover{
	cursor: pointer;
}
.add-form{
	display: none;
  width: 100%;
  height: auto;
  max-width: 500px;
  background-color:black;
  padding: 20px;
  border: 1px solid white;
  margin: 0 auto;
}
.close{
float: right;
margin-top: -70px;
margin-right: -18px;
}
*{
  box-sizing: border-box;
}
/*input-fields*/
input{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}
label{
  font-size: 18px;
  color: white;
}
/*submitButton*/
.submit-student{
  padding: 10px;
  width: 100%;
  background-color:#3399cc;
  cursor: pointer;
  -webkit-border-radius:5px;
  border: none;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.submitBtn:hover{
  background-color:#ff8533;
}
.edit-form{
	display: none;
	width: 100%;
	height: auto;
	max-width: 500px;
	background-color:black;
	padding: 20px;
	border: 1px solid white;
	margin: 0 auto;
}
.save-student{
	padding: 10px;
	width: 100%;
	background-color:#3399cc;
	cursor: pointer;
	-webkit-border-radius:5px;
	border: none;
	font-size: 15px;
	margin: 0 auto;
	text-align: center;
	color: white;
}
h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}
h4,h5,h6{
	font-size: 18px;
}
h6{
	margin: 0;
	margin-bottom: 15px;
}
